.sidebar{
    position: fixed;
    width: 77px;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    z-index: 2;
    padding-top: 5px;

}

.side-box{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 74px;
}

.side-box img{
    width: 27px;
    margin-bottom: 5px;
}

.side-box div{
    font-size: 10px;
}

.side-box:hover{
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}